:root {
  --tamaño-fuente: 16px;
  --tamaño-h1: 24px;
  --tamaño-h2: 18px;
  --color-tema1: #336699;  /* Azul oscuro */
  --color-tema2: #d4e6f1;  /* Azul claro    Azul mas claro #E6F2F7*
  --color-tema3: #FFFFFF;  /* Blanco */
  --color-letra1: #FFFFFF; /* Blanco */
  --color-cuerpo: #f2f2f2;
  --color-boton: #336699;
  --borde-boton: 4px;
  --espacio-tema:20px;
}

/* Estilos para el encabezado */
header {
  background-color: var(--color-tema1);
  padding: var(--espacio-tema);
  color: var(--color-letra1);
  font-size: var(--tamaño-h1);
  text-align: center;
}

/* Estilos para el título */
h1 {
  margin: 0;
  font-size: var(--tamaño-h1);
}

h2 {
  margin: 0;
  font-size: var(--tamaño-h2);
}

/* Estilos para el cuerpo del documento */
body {
  background-color: var(--color-cuerpo);
  font-family: Arial, sans-serif;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
}

/* Estilos para la parte izquierda del contenedor */
.left-section {
  width: 15%;
  background-color: var(--color-tema2);
  padding: 20px;
}

/* Estilos para la parte derecha del contenedor */
.right-section {
  width: 85%;
  background-color: var(--color-tema3);
  padding: 20px;
}

/* Estilos para el texto de robótica educativa */
.right-section p {
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  margin-bottom: 10px;
  text-align: justify;
}

/* Estilos para los módulos de navegación */
.navigation {
  margin-bottom: 20px; /* Separacion del boton */
  color: #000000;
  text-decoration: none;
}



/* Estilos para la línea horizontal en la navegación (separadores) */
.navigation hr {
  border: none;
  border-top: 2px solid #137cbd;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilo personalizado para los botones */
  .button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #336699;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 120px; /* Ajusta el ancho según tus necesidades */
  }

  .button:hover {
    background-color: #234466;
  }

/* Estilos de ventana emergente */

#inactive-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #eaf6ff;
  border: 1px solid #4b9cef;
  border-radius: 10px; /* Agregamos esta propiedad para los bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation: popupFadeIn 0.5s ease-in-out forwards;
  text-align: center;
}

@keyframes popupFadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

#inactive-popup p {
  color: #333;
  font-size: 16px; /* Agregamos esta propiedad para el tamaño de fuente */
  margin: 0; /* Agregamos esta propiedad para eliminar el margen */
}

#countdown {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

/* Estilo de carrusel fundamentos */

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  margin: 0 auto;
}

.carousel img {
  max-width:210px;
  height: auto;
}

.carousel-content {
  width: calc(100% - 200px);
}

  /* Estilos para los botones */
  .carousel-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .carousel-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #336699;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .carousel-button:hover {
    background-color: #234466;
  }

/* Estilos para la línea de progreso */
.progress-bar {
  width: 700px;
  height: 4px;
  background-color: var(--color-tema2);
  margin: 20px auto;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--color-tema1);
  transition: width 0.3s;
}

.contenedor-historia {
  display: flex;
}

.image-container {
  width: 35%;
padding-top: 25px; /* Ajusta el valor según el espacio de relleno deseado */
}

.carousel-content {
  width: 65%;
}

.carousel-content p {
  margin-bottom: 0;
}

.carousel-content strong {
  font-weight: bold;
}
